{% extends "base.html.twig" %}

{% block body %}
    <h1>Détail de l'article</h1>
    <p>{{ article.Titre }}</p>
    <p>{{ article.Description }}</p>
    <p>{{ article.Auteur }}</p>
    <p><a href="/article/update/{{ article.id }}"> Modifier ce super Article </a></p>
    <p><a href="/article/delete/{{ article.id }}"> Supprimer ce super Article </a></p>
    <h2>Catégorie !</h2>
    <p>{{categorie.libelle}} <br>
        {{categorie.code|raw}}
    </p>
{% endblock %}